/* font importing*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');    /*Oswald*/
@import url("https://fonts.googleapis.com/css?family=Roboto");                  /*Roboto*/

/* reseting css rules*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Oswald', Sans-Serif;  
    box-sizing: border-box;
}

:root{
    --orange: #f68b00;
    --blue: #00285f;
    --gray: gray;
    --green: #00FF7F;
}

html,body {
    width: 100%;
    overflow-wrap: hidden;
    
}

header{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(lightgray, darkgray, darkslategray);
}

.content{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content.p{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

nav{
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand{
    font-size: 44px;
    color: green;
    cursor: pointer;
    font-style: none;
}

.links {
    text-decoration:none; 
    cursor:pointer; 
    color:green;
}
.links:hover {
    text-decoration: none;
    color: green;
}

nav ul{
    display: flex;
    flex-direction: row;
}
nav ul li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-size: 19px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    text-size-adjust: 25px;
    text-decoration: solid;
}

nav ul li a:hover{
    transition: text, color 0.2s;
    color: green;
}

/*Header-Block*/

.content .header-block{
  max-width: 1000px;
  min-width: 300px;
  height: 450px;
  background: linear-gradient(gray, darkgray, darkslategray);
  border-radius: 8px;
  box-shadow:1px 0px 10px 0px rgba(0, 0, 0, 0.5, alpha);
  -webkit-box-shadow:1px 0px 10px 0px rgba(0, 0, 0, 0.5, alpha);
  -moz-box-shadow:1px 0px 10px 0px rgba(0, 0, 0, 0.5, alpha);

  position: relative;
  z-index: 10;
  padding: 10px;
}

.header-block img{
  width: 50%;
  position: absolute;
  right: 3%;
  bottom: 6.5%;
  top: 2%;
}
.header-block .img-top{
  display: none;
  position: absolute;
  right: 3%;
  bottom: 22%;
  top: 15%;

}
.bois:hover .img-top{
  display: inline;
}


.header-block .text{
  position: absolute;
  bottom: 30%;
  left: 15%;
}

.header-block .text h2{
  color: black;
  margin-bottom: 20px;
  text-align: right;
  transform: translateX(-5px);
  transition:  0.5s;
  text-align: center;
}

.header-block .text p{
  max-width: 280px;
  color: black;
  text-align: right;
  transform: translateX(-30px);
  transition: 0.9s;
}

/*Item to be Selled*/

/* Columns */
.left-column {
    width: 65%;
    position: relative;
  }
   
  .right-column {
    width: 35%;
    margin-top: 60px;
  }
  /* Left Column */
.left-column img {
  width: 60%;
  position: absolute;
  left: 10;
  top: 10;
  opacity: 1;
  transition: 0.5s all ease-in-out
}
 
.left-column img:hover {
  transform: scale(1.2)
}
/* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    background: #eaedf2;
    font-family: 'Roboto', sans-serif;
  }
  
  .floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
  }
  .floating-container:hover {
    height: 300px;
  }
  .floating-container:hover .floating-button {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
            transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .floating-container:hover .element-container .float-element:nth-child(1) {
    -webkit-animation: come-in 0.4s forwards 0.2s;
            animation: come-in 0.4s forwards 0.2s;
  }
  .floating-container:hover .element-container .float-element:nth-child(2) {
    -webkit-animation: come-in 0.4s forwards 0.4s;
            animation: come-in 0.4s forwards 0.4s;
  }
  .floating-container:hover .element-container .float-element:nth-child(3) {
    -webkit-animation: come-in 0.4s forwards 0.6s;
            animation: come-in 0.4s forwards 0.6s;
  }
  .floating-container .floating-button {
    position: absolute;
    width: 65px;
    height: 65px;
    background: linear-gradient(83deg, rgba(12, 153, 87, 0.733), rgba(12, 153, 87, 0.733));
    bottom: 0;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .floating-container .float-element {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 15px auto;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  .floating-container .float-element .material-icons {
    vertical-align: middle;
    font-size: 16px;
  }
  .floating-container .float-element:nth-child(1) {
    background: #07c721;
    box-shadow: 0 20px 20px -10px rgba(49, 44, 36, 0.5);
  }
  .floating-container .float-element:nth-child(2) {
    background: #f71616be;
    box-shadow: 0 20px 20px -10px rgba(49, 44, 36, 0.5);
  }
  .floating-container .float-element:nth-child(3) {
    background: #493f2f;
    box-shadow: 0 20px 20px -10px rgba(49, 44, 36, 0.5);
  }